body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #444;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    color: #fff;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #F76B4A;
    text-shadow: 1px 1px 0px #555;
    margin: 15px;
}

section {
    padding: 60px 20px;
}

#home {
    background: #f0f0f0;
    min-height: 100dvh;
}

.about-me {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.about-me .buttons {
    padding-top: 10px;

}

.about-me .buttons button {
    border-radius: 10px; /* Rounded edges */
    font-size: 16px; /* Button text size */
    width: 150px; /* Fixed width for uniform size */
    margin: 5px; /* Space between buttons */
}

.about-content ul{
    width: 250px;
    text-align: left;
    margin: 0 auto;
}

.profile img.portrait {
    margin: 5px;
    align-items: center;
    padding-bottom: 5px;
}

.project-content {
    display: flex;
    margin-bottom: 50px;
}

.project-content img.project-image {
    margin-right: 20px;
    border: 1px solid black;
    padding: 5px;
    width: 280px;
    height: 280px;
    object-fit: cover;
}

.project-content img.project-image:hover {
    opacity: 0.75;
    border-color: grey;
}

#projects {
    padding: 0;
    margin: 0 auto;
    width: 1200px;
    
}

#projects h1 {
    margin-bottom: 30px;
}

.project-content h2 {
    margin-top: 0px;
}

.github-link {
    display: flex;
    align-items: center;
    color: #F76B4A;
}

.github-link img {
    height: 30px;
    margin-right: 10px;
}

.github-link:hover {
    opacity: 0.75;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
}

article {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article img {
    width: 100%;
    height: auto;
}

article h3, article h4 {
    margin: 10px 0;
}

article p {
    margin: 10px 0;
}


/*
CONTACT FORM
*/
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: #f0f0f0;
}

#contact h1 {
    margin-bottom: 30px;
    text-align: center;
}

#contactForm {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}

#contactForm label,
#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea,
#contactForm input[type="submit"] {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box; /* Include padding in the total width */
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contactForm textarea {
    height: 150px; /* Default height of the message box */
}

#contactForm input[type="submit"] {
    background-color: #F76B4A;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

#contactForm input[type="submit"]:hover {
    background-color: #f4441c;
}


/*
MEDIA QUERY 
for mobile devices
*/
@media (max-width: 768px) {

    .about-me {
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        padding-top: 10px;;
    }

    .project-content {
        flex-direction: column;
        align-items: center;
    }
    
    .project-content img.project-image {
        margin-right: 0;
        margin-bottom: 20px;
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .project-content .description {
        text-align: center;
    }

    .github-link {
        justify-content: center;
    }

}